<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>France et Moi</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/lightbox.css">
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <!-- Container -->
    <div class="container mx-auto">

        <!-- Navigation -->
        <nav class="relative bg-white border-b-2 border-gray-300 text-gray-900">
            <div class="container mx-auto flex justify-between">
                <div class="relative block p-1 lg:p-2 text-xl text-red-600 font-bold">
                    <img class="h-12 w-12 float-left" src="/images/logo-web.svg" alt="France et Moi">
                    <div class="float-right mt-3">
                        France et Moi
                    </div>
                </div>
                <ul class="flex">

                    <!-- Regular Link -->
                    <li class="hover:bg-blue-800 hover:text-white">
                        <a href="/" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">
                          Домой
                        </a>
                    </li>
        
                    <!-- Hoverable Link -->
                    <li class="hoverable hover:bg-blue-800 hover:text-white">
                        <a href="#" class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base font-bold hover:bg-blue-800 hover:text-white">Услуги и цены</a>
                        <div class="p-6 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800 z-50">
                            <div class="container mx-auto w-full flex flex-wrap justify-between mx-2">
                                <div class="w-full text-white mb-8">
                                    <h2 class="font-bold text-2xl text-white">
                                      Main Hero Message for the menu section
                                    </h2>
                                    <div class="base-text text-white">
                                      Sub-hero message, not too long and not too short. Make it just right!
                                    </div>
                                </div>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-camera fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Экскурсии
                                        </h3>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="/aquitaine" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Аквитания
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/anjou-poitou-touraine" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Анжу, Пуату, Турень
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/brittany-normandy" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Бретань, Нормандия
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/burgundy" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Бургундия
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/lyon" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Лион
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <ul>
                                                <li>
                                                    <a href="/normandy" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Нормандия
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/paris" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Париж
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/picardy" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Пикардия
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/heart-of-france" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Сердце Франции
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/alsace" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Эльзас
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/champagne" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                                      Шампань
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- p class="text-gray-100 text-sm">Quarterly sales are at an all-time low create spaces to explore the accountable talk and blind vampires.</p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="#" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">Find out more...</a>
                                    </div -->
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-couch fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Виды отдыха
                                        </h3>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="/tasty-france" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Вкусная Франция
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/wine-tours" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Винные туры
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/family-holidays-in-france" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Семейный отдых во Франции
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/castles-of-france" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Замки Франции
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/france-for-children" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Франция для детей
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/excursion-programs" class="block p-1 hover:bg-blue-600 text-gray-300 hover:text-white text-sm">
                                              Экскурсионные программы
                                            </a>
                                        </li>
                                    </ul>
                                    <!-- p class="text-gray-100 text-sm">Prioritize these line items game-plan draw a line in the sand come up with something buzzworthy UX upstream selling.</p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="#" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">Find out more...</a>
                                    </div -->
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-b-0 sm:border-r md:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-shuttle-van fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Трансферы
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      This proposal is a win-win situation which will cause a stellar paradigm shift, let's touch base off-line before we fire the new ux experience.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/transfers" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-coins fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Цены
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      This is a no-brainer to wash your face, or we need to future-proof this high performance keywords granularity.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/price" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Hoverable Link -->
                    <li class="hoverable hover:bg-blue-800 hover:text-white">
                        <a href="#" class="relative block py-6 px-4 lg:p-6 text-sm lg:text-base font-bold hover:bg-blue-800 hover:text-white">
                          О компании
                        </a>
                        <div class="p-6 mega-menu mb-16 sm:mb-0 shadow-xl bg-blue-800 z-50">
                            <div class="container mx-auto w-full flex flex-wrap justify-between mx-2">
                                <div class="w-full text-white mb-8">
                                    <h2 class="font-bold text-2xl text-white">
                                      Main Hero Message for the menu section
                                    </h2>
                                    <div class="text-white">
                                      Sub-hero message, not too long and not too short. Make it just right!
                                    </div>
                                </div>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-rss fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Новости
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      Quarterly sales are at an all-time low create spaces to explore the accountable talk and blind vampires.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/news" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-r-0 lg:border-r lg:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-file-alt fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Обязательства
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      Prioritize these line items game-plan draw a line in the sand come up with something buzzworthy UX upstream selling.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/obligations" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 border-b sm:border-b-0 sm:border-r md:border-b-0 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-id-badge fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Лицензированный гид
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      This proposal is a win-win situation which will cause a stellar paradigm shift, let's touch base off-line before we fire the new ux experience.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/licensed-guide" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                                <ul class="px-4 w-full sm:w-1/2 lg:w-1/4 border-gray-600 pb-6 pt-6 lg:pt-3">
                                    <div class="flex items-center">
                                        <i class="h-8 mb-3 mr-3 fill-current text-white fas fa-comment fa-2x"></i>
                                        <h3 class="font-bold text-xl text-white text-bold mb-2">
                                          Отзывы
                                        </h3>
                                    </div>
                                    <p class="text-gray-100 text-sm">
                                      This is a no-brainer to wash your face, or we need to future-proof this high performance keywords granularity.
                                    </p>
                                    <div class="flex items-center py-3">
                                        <i class="h-6 pr-3 fill-current text-blue-300 far fa-arrow-alt-circle-right fa-2x"></i>
                                        <a href="/reviews" class="text-white bold border-b-2 border-blue-300 hover:text-blue-300">
                                          Узнать больше...
                                        </a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </li>

                    <!-- Regular Link -->
                    <li class="hover:bg-blue-800 hover:text-white">
                        <a href="/contact" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">
                          Контакты
                        </a>
                    </li>
                    <!-- Regular Link -->
                    <li class="hover:bg-blue-800 hover:text-white">
                        <a href="/login" class="relative block py-6 px-2 lg:p-6 text-sm lg:text-base font-bold">
                          <i class="fas fa-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav><!-- /Navigation -->

        <!-- Slider -->
        <div class="flex">
            {{{slide}}}
        </div><!-- /Slider -->

        <!-- Content -->
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2 m-4">
              <!-- Flash -->
              {{#if flash}}
                <div class="bg-blue-100 border-t-4 border-blue-300 rounded-b-lg px-4 py-3 shadow-md" role="alert">
                  <div class="flex">
                    <div class="py-1">
                      <svg class="fill-current h-6 w-6 text-blue-300 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
                      </svg>
                    </div>
                    <div>
                      <p class="font-bold text-blue-800">
                        {{flash.intro}}
                      </p>
                      <p class="text-sm">
                        {{flash.message}}
                      </p>
                    </div>
                  </div>
                </div>
              {{/if}}<!-- /Flash -->

              {{{body}}}
            </div>
            <div>
                <div class="md:flex bg-white rounded-lg p-6 shadow-lg m-4">
                    <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6" src="/images/avatar-eugeny.jpg">
                    <div class="text-center md:text-left">
                        <h4 class="text-base text-black leading-tight">
                          Евгений Пепеляев
                        </h4>
                        <div class="text-blue-300">
                          Трансферы
                        </div>
                        <div class="text-gray-700">
                          info@frmoi.fr
                        </div>
                        <div class="text-gray-700">
                          +(33) 675 789 803
                        </div>
                    </div>
                </div>

                <div class="md:flex bg-white rounded-lg p-6 shadow-lg m-4">
                    <img class="h-16 w-16 md:h-24 md:w-24 rounded-full mx-auto md:mx-0 md:mr-6" src="/images/avatar-dmitry.jpg">
                    <div class="text-center md:text-left">
                        <h4 class="text-base text-black leading-tight">
                          Дмитрий Мисуркин
                        </h4>
                        <div class="text-blue-300">
                          Экскурсии
                        </div>
                        <div class="text-gray-700">
                          info@frmoi.fr
                        </div>
                        <div class="text-gray-700">
                          +(33) 675 789 777
                        </div>
                    </div>
                </div>

                {{>social/instagram}}

                {{>weather}}
            </div>
        </div><!-- /Content -->

        <!-- Footer -->
        <div class="flex bg-blue-800 text-white grid grid-cols-3 gap-4 p-8">
            <div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/news">
                      Новости
                    </a>
                </div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/obligations">
                      Обязательства
                    </a>
                </div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/licensed-guide">
                      Лицензированный гид
                    </a>
                </div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/reviews">
                      Отзывы
                    </a>
                </div>
            </div>
            <div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/contact">
                      Контакты
                    </a>
                </div>
                <div class="text-white pb-4">
                    <i class="fas fa-caret-right"></i>
                    <a href="/legal-notice">
                      Mentions légales
                    </a>
                </div>
            </div>
            <div>
                <div class="text-white pb-4">
                    &copy; 2020 France et Moi. Tous droits réservés.
                </div>
            </div>
        </div><!-- /Footer -->

    </div><!-- /Container -->

  </body>
</html>