<h1>
  Экскурсионные программы
</h1>

<h2>
  Экскурсии обзорные по Парижу
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Картинки с выставки</span> для тех, кто прибыл впервые (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">И вновь я посетил</span> для тех, кто бывал в Париже (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Заповедные места</span> для тех, кто бывал в Париже (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Огни большого города</span> вечерняя обзорная экскурсия (3 часа)
    </li>
    <li>
      <span class="text-black">Лувр</span> для тех, кто прибыл впервые (2,5 часа)
    </li>
    <li>
      <span class="text-black">Орсе</span> для тех, кто прибыл впервые (2,5 часа)
    </li>
  </ul>
</p>

<h2>
  Экскурсии cпециальные по Парижу
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Гармония и контраст</span> для тех, кому интересен внутренний дизайн помещений
      или кто просто хочет научиться видеть архитектуру. Карнавале и/или Насим Камодо (2 или 4 часа)
    </li>
    <li>
      <span class="text-black">Я вышел родом из Еврейского квартала...</span> для тех, кто прибыл впервые. Музей
      Еврейской истории и культуры, Маре, синагога  (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">И все фланируют...</span> для тех, кому интересен быт и стили жизни (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">От эпохи к эпохе, от квартала к кварталу</span> (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Париж Средневековый</span> для тех, кто прибыл впервые и для тех, кто бывал в
      Париже (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Париж Парфюмера</span> (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Париж Революции и Наполеона</span> (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Все самое-самое...</span> старое, большое, маленькое, дорогое, необычное (3 или
      4 часа)
    </li>
    <li>
      <span class="text-black">Вкусный Париж</span> для тех, кто прибыл впервые и для тех, кто бывал в Париже
      (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Цветы и деревья, сады и парки</span> для тех, кому интересен регулярный,
      ландшафтный, восточный дизайн. Батиньоль и/или Парк Флораль и/или Парк Андре Ситроен (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Русский Париж</span> для тех, кто прибыл впервые и для тех, кто бывал в Париже
      (3 или 4 часа)
    </li>
    <li>
      <span class="text-black">Лувр тематический</span> (3 часа)
    </li>
    <li>
      <span class="text-black">Лувр для тех, кто не любит безрукую Афродиту и зеленую Мону Лизу</span> (2,5 часа)
    </li>
    <li>
      <span class="text-black">Лувр</span> для тех, кто уже был (2,5 часа)
    </li>
    <li>
      <span class="text-black">Орсе</span> для тех, кто уже был (2,5 часа)
    </li>
    <li>
      <span class="text-black">Экскурсии в Париже</span> Гид в Париже. Гид во Франции.
    </li>
  </ul>
</p>

<h2>
  Еще экскурсии по Парижу
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Париж и окрестности</span>
    </li>
    <li>
      <span class="text-black">Классический Париж</span>, для тех, кто прибыл впервые (обзорная экскурсия)
    </li>
    <li>
      <span class="text-black">Русский Париж</span>
    </li>
    <li>
      <span class="text-black">Музеи</span> Лувр, Орсэ, Версаль, Фонтенбло, Восковых фигур
    </li>
    <li>
      <span class="text-black">Париж с Сены</span>
    </li>
    <li>
      <span class="text-black">Парки и аттракционы</span> Астерикс, Диснейленд, Франция в Миниатюре, Сафари парк
    </li>
    <li>
      <span class="text-black">Неизвестный Париж</span> для тех, кто бывал неоднократно
    </li>
    <li>
      <span class="text-black">Кварталы Парижа</span> дамское счастье
    </li>
    <li>
      <span class="text-black">Праздник, который всегда с тобой</span>
    </li>
    <li>
      <span class="text-black">Потомки Гаргантюа</span>
    </li>
    <li>
      <span class="text-black">Наследник школяров и революционеров</span>
    </li>
    <li>
      <span class="text-black">Религиозные святыни</span>
    </li>
    <li>
      <span class="text-black">Декор и стиль</span> XVII-XVIII-XIX-XX века
    </li>
    <li>
      <span class="text-black">Увеселения и злачные места</span>
    </li>
    <li>
      <span class="text-black">Дорогами героев Дюма</span> (4 или 5 часов)
    </li>
    <li>
      <span class="text-black">Собор Парижской Богоматери</span>
    </li>
  </ul>
</p>

<h2>
  Припарижье
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Шедевры Ле Нотра</span> (5 или 8 часов)
    </li>
    <li>
      <span class="text-black">Наполеон I последние дни Империи</span> (3, 5 или 8 часов)
    </li>
    <li>
      <span class="text-black">В гостях у сказки</span> (5 или 8 часов)
    </li>
    <li>
      <span class="text-black">Железная маска </span> (5 часов)
    </li>
    <li>
      <span class="text-black">Королевские аббатства</span> (5 часов)
    </li>
    <li>
      <span class="text-black">4 эпохи</span> средневековье - возрождение - классицизм - ампир (8 часов)
    </li>
    <li>
      <span class="text-black">Мир художников</span> (5 или 8 часов)
    </li>
    <li>
      <span class="text-black">По следам Жанны Д'Арк</span> (5 или 8 часов)
    </li>
  </ul>
</p>

<h2>
  Шампань
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Первое знакомство</span> (7 или 10 часов)
    </li>
    <li>
      <span class="text-black">Секреты монаха Дона Периньона</span> (7 или 10 часов)
    </li>
    <li>
      <span class="text-black">Глория графам Шампани!</span> (7 часов)
    </li>
  </ul>
</p>

<h2>
  Пикардия-Шампань
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Капетинги и Валуа</span> (10 или 12 часов)
    </li>
    <li>
      <span class="text-black">Замки и соборы</span> 10 или 12 часов
    </li>
  </ul>
</p>

<h2>
  Пикардия
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Замки и соборы</span> (10 или 12 часов)
    </li>
    <li>
      <span class="text-black">Наполеон I и III</span> великий дядя и племянник (5 часов)
    </li>
  </ul>
</p>

<h2>
  Нормандия
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Первое знакомство</span> (10 или 12 часов)
    </li>
    <li>
      <span class="text-black">Замки и соборы</span> (10 или 12 часов)
    </li>
    <li>
      <span class="text-black">Мир художников</span> (10 или 12 часов)
    </li>
    <li>
      <span class="text-black">Вкусная Нормандия</span> (12 часов)
    </li>
    <li>
      <span class="text-black">Короли Английские</span> (12 часов)
    </li>
    <li>
      <span class="text-black">Строим – молимся – пьем</span> (12 часов)
    </li>
    <li>
      <span class="text-black">Нормандские Альпы</span> (12 часов)
    </li>
  </ul>
</p>

<h2>
  Бургундия
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Первое знакомство</span> (12, 14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Замки и соборы</span> (12, 14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Строим – молимся – пьем</span> (12, 14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Вкусная Бургундия</span> (12, 14 часов или 2 дня)
    </li>
  </ul>
</p>

<h2>
  Бретань
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Первое знакомство</span> (14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Легенды Мерлина и цикла о короле Артуре</span> (14 часов или 2 дня)
    </li>
  </ul>
</p>

<h2>
  Долина Луары
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Короли и их владения</span> (12, 14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Замки придворных</span> (12, 14 часов или 2 дня)
    </li>
    <li>
      <span class="text-black">Анжуйцы – короли Англии</span> (12, 14 часов или 2 дня)
    </li>
  </ul>
</p>

<h2>
  Бенилюкс
</h2>

<p>
  <ul>
    <li>
      <span class="text-black">Спящая красавица</span> - Брюгге (12 часов)
    </li>
    <li>
      <span class="text-black">180 лет монархии, 2000 лет истории</span> - Брюссель (12 или 14 часов)
    </li>
    <li>
      <span class="text-black">Самая европейская страна</span> - Люксембург (12 или 14 часов)
    </li>
  </ul>
</p>