<h1>Bienvenue à France et Moi</h1>

<p>Агенство FRANCE ET MOI уже много лет успешно работает на туристическом рынке. Мы предоставляем услуги по
    организации индивидуальных трансферов, экскурсий, переводов в Париже и регионах Франции.</p>

<p>Все, начиная от встречи в аэропорту и трансфера в отель, до самых необычных и запоминающихся экскурсий.</p>

<p>Профессиональные русскоязычные гиды с многолетним опытом работы покажут и расскажут Вам о Париже и его
    окрестностях. Мы также организуем поездки в знаменитые регионы Франции – шампанское в Реймсе, Руанский собор
    и свежие устрицы в Нормандии, аббатство Монт Сен Мишель — восьмое чудо света — в Бретани, вина Бургундии.
    Все это и многое другое вы сможете увидеть, заказав экскурсии в сопровождении наших гидов.</p>

<p>Париж – столица моды, парфюмерии и  истории, искусства и кулинарии. Мы расскажем и покажем Париж так, что
    вам обязательно захочется вернуться сюда снова.</p>

<p>Обзорные экскурсии по Парижу на машине длительностью три или четыре часа — Опера Гарнье, Елисейские поля,
    Нотр Дам, Лувр, площадь Бастилии, Пантеон, Люксембургский сад, Дом Инвалидов, Триумфальная Арка и многое
    другое.</p>

<p>Пешеходные экскурсии – прогулка по Парижу —  Сакре Кер и Монмартр, или Собор Парижской богоматери и Латинский
    квартал с островом Сите, квартал Маре, Вандомская площадь, улица Розье, Сен-Жермен-де-Пре – этот список можно
    продолжать бесконечно.</p>

<p>Известные на весь мир музеи – Лувр, Орсей, и менее известные, но не менее интересные – музей Камондо, музей
    Французских Архитектурных Памятников на площади Трокадеро.</p>

<p>Когда вы немного освоитесь в Париже, предлагаем изучить ближайшие окрестности – королевские резиденции Версаль
    и Фонтенбло с великолепными дворцами и парками, замки Во ле Виконт и Шантийи, которые, без сомнения,
    произведут неизгладимое впечатление и подарят море эмоций.</p>

<p>Или посмотреть на русское кладбище Сен Женевьев де Буа, русскую церковь Александра Невского, дома, где жили
    наши писатели и политические деятели во время своего пребывания в Париже.</p>

<p>А потом отправиться еще дальше – посмотреть на Ла Манш, поесть свежайших морепродуктов, посмотреть рыбацкие
    деревушки на побережье Нормандии – Руан, где на рыночной площади сожгли Жанну Д’Арк, Довиль с его знаменитым
    казино и пляжами, Онфлер и Фекам – там вы попробуете кальвадос и ликер бенедиктин, скалы Этреты на закате.</p>

<p>Или может быть виноградники Бургундии, дегустации в винных погребах и настоящая французская провинция,
    нетронутая временем.</p>

<p>Или Шампань – вдова Клико, Дом Периньон, Моет и Шандон – увлекательный рассказ о том, как создается
    шампанское. И Реймский собор, где короновались французские короли.</p>

<p>Или экскурсия по замкам долины Луары — Амбуаз, где когда-то был похоронен Леонардо да Винчи, Шенонсо и Шамбор,
    архитектурный шедевр эпохи Возрождения.</p>

<p>Опытные сотрудники нашей компании подберут для вас любой вариант вашего пребывания во Франции и помогут в
    выборе экскурсий.</p>